CS366/Assignment2/presentations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Name: presentation.xml
	Description: Schema definition for presentation.xml
	Author: Kyle Jon Aure
	Date: 5/29/19

	Design Pattern: Venetian Blind
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="https://cs.winona.edu/cs366/aure/presentations" 
	xmlns:target="https://cs.winona.edu/cs366/aure/presentations" 
	elementFormDefault="qualified">
	
	<element name="presentations">
  
	</element>

	<!-- Presentations' Attributes >
	<attributeGroup name="presentationsAttr">
		<attribute name="date" type="date" use="required"/>
		<attribute name="length" type="string" use="required"/>
	</attributeGroup-->


</schema>